body {
    font-size: 25px;
    background-color: #87CEEB;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

.kitchen {
    color: green;
    font-weight: 600;
}

.web {
    color: purple;
    font-style: italic;
}

div {
    display: inline-block;
    
}